################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proiect .03c5dbb3/Debug
/Debug
/.vs/Proiect Grafica_GLUT/v17/ipch/AutoPCH
/.vs/Proiect Grafica_GLUT/v17
/.vs/Proiect Grafica_GLUT/FileContentIndex
